{{!< default}}
<div class="container">
	<section>
		<div class="row">
			<div class="col m12">
				<div class="img-me">
					<img class="responsive-img img-me circle" src="/images/carrie.jpg" />
				</div>
				<h1 class="greeting">Hi. I&rsquo;m <strong>Carrie</strong>.</h1>
				<h2 class="greeting">I&rsquo;m a <strong>student for life</strong>.</h2>
				<p>
					I&rsquo;m also a software developer in <strong>Memphis, Tennessee</strong>. I develop web
					applications on the ATG platform, and I write a lot of
					JavaScript, CSS, and HTML. In the past, I have worked on enterprise web applications on
					the Struts 2 framework.
				</p>
				<p>
					I am intensely passionate about the <strong>transformative power of education</strong>, and
					believe that in order to create a truly equal and open society, we must
					provide <strong>free, quality education</strong> to absolutely everyone. Because of this, I
					work as an instructor for <a href="http://www.code-crew.org/" target="_blank">CodeCrew</a>
					here in Memphis. I teach Computer Science to 6th and 7th graders, and seeing
					their reactions to learning how to become technology creators and contributors
					is a driving force for me.
				</p>
				<p>
					I&rsquo;m also a rescue and rehabilitation zealot for abandoned and abused animals.*
				</p>
				<aside>*with thanks to my friend Rena Sawyer for the wording!</aside>
			</div>
		</div>
	</section>
</div>
