<div class="container">
  <section id="resume" class="row">
    <div class="col m9">
      <h1>Resume</h1>
      <p>
        Carrie Coxwell <br/>
        UI Developer <br />
        carrie dot coxwell at gmail dot com<br />
      </p>
      <section id="summary" class="scrollspy">
        <h2>Summary</h2>
        <div class="card hoverable">
          <div class="card-content">
            <p>
              Enthusiastic, experienced UI developer seeks position that allows for
              growth in knowledge and efficacy. I am the kind of dev that allows you to
              have your cake and eat it too: I love both the big picture and the nitty
              gritty details. I am deeply passionate about knowledge sharing. By raising
              everyone’s base level of understanding, we build a stronger foundation
              from which to reach for greater heights. I thrive on cross-functional
              teams; interdisciplinary collaboration is catnip to me. I constantly seek
              relationships among people, information, and technology.
            </p>
          </div>
        </div>
      </section>
      <section id="experience">
        <h2>Experience</h2>
        <section id="code-crew" class="card hoverable scrollspy">
          <div class="card-content">
            <h3 class="company card-title">CodeCrew<span class="hide-on-small-only">; Memphis, TN</span></h3>
            <div class="row">
              <div class="col s12 hide-on-med-and-up">Memphis, TN</div>
              <div class="col m6 s12">8/2016&ndash;present</div>
              <div class="col m6 s12 job-role">Instructor</div>
            </div>
            <ul class="responsibilities browser-default">
              <li>
                Teach Computer Science to 6th and 7th graders at Grizzlies Prep Academy
                through hands-on experience with HTML, CSS, Scratch-like coding blocks,
                and more.
              </li>
              <li>
                Using the CodeHS curriculum as a guide, I supplement prepared materials
                with original examples and white board exercises to engage each student
                in a way that simply reading from slides cannot.
              </li>
              <li>
                Collaborate with my TA so that we stay in sync with classroom management.
              </li>
              <li>
                Occasionally, I fill in as an instructor for CodeCrew at Lester
                Community Center. That course uses a custom curriculum that teaches
                the kids to build Android apps using AppInventor.
              </li>
            </ul>
          </div>
        </section>
        <section id="lokion" class="card hoverable scrollspy">
          <div class="card-content">
            <h3 class="company card-title">Lokion<span class="hide-on-small-only">; Memphis, TN</span></h3>
            <div class="row">
              <div class="col s12 hide-on-med-and-up">Memphis, TN</div>
              <div class="col m6 s12">3/2016&ndash;8/2016</div>
              <div class="col m6 s12 job-role">UI Developer</div>
            </div>
            <ul class="responsibilities browser-default">
              <li>
                Refactored the architecture of our team SASS stylesheets for
                improved workflow and higher quality products
              </li>
              <li>
                Collaborated with UI/UX designers, back-end developers, and members
                of the business.
              </li>
              <li>
                Created responsive page templates using JSP, HTML, JavaScript, SASS,
                and jQuery.
              </li>
              <li>
                Pulled dynamic product data from the repository using ATG droplets.
              </li>
              <li>
                Developed common structure and styling for all pages in order to
                present a fluent and cohesive front-end experience to the user.
              </li>
              <li>
                Participated in daily Scrum standups, keeping everyone abreast of my
                progress and working with other team members to overcome blockers.
              </li>
              <li>
                Trained fellow developers on best practices in order to elevate the
                quality of our codebase.
              </li>
              <li>
                Constantly educated myself on new best practices so I could produce
                the most readable, modular code possible.
              </li>
              <li>
                Tracked bugs, User Stories, and issues via Jira
              </li>
            </ul>
          </div>
        </section>
        <section id="cooksys" class="card hoverable scrollspy">
          <div class="card-content">
            <h3 class="company card-title">Cook Systems, Int'l<span class="hide-on-small-only">; Memphis, TN</span></h3>
            <div class="row">
              <div class="col s12 hide-on-med-and-up">Memphis, TN</div>
              <div class="col m6 s12">1/2014&ndash;3/2016</div>
              <div class="col m6 s12 job-role">Applications Developer</div>
            </div>
            <ul class="responsibilities browser-default">
              <li>
                Worked as an on-site vendor at ServiceMaster and FedEx.
              </li>
              <li>
               When not on-site in a client office, I prepared candidates for both technical
               and non-technical interview questions; trained others on Java,
               JavaScript, and Struts; and styled an HTML media player for an internal
               project.
              </li>
            </ul>
            <ul class="collapsible popout" data-collapsible="accordion">
              <li>
                <section id="servicemaster" class="">
                  <h4 class="company collapsible-header">ServiceMaster<span class="hide-on-small-only">; Memphis, TN</span></h4>
                  <div class="collapsible-body">
                    <div>
                      <div class="row">
                        <div class="col s12 hide-on-med-and-up">Memphis, TN</div>
                        <div class="col m6 s12">5/2015&ndash;3/2016</div>
                        <div class="col m6 s12 job-role">Applications Developer</div>
                      </div>
                      <ul class="browser-default">
                        <li>
                          Used Java, JSP, HTML, JavaScript, jQuery, and CSS to make
                          customer-facing enhancements and contribute new features to the ATG
                          ecommerce experience.
                        </li>
                        <li>
                          Created page templates via JSPs and entered content through the BCC.
                        </li>
                        <li>
                          Worked with comps, wireframes, and prototypes developed in Axure
                          and other tools in order to deliver dynamic, intuitive interfaces.
                        </li>
                        <li>
                          Maintained and implemented LiveChat and Google Analytics.
                        </li>
                        <li>
                          Tracked User Stories, bugs, and issues via Jira.
                        </li>
                        <li>
                          Attended a two-day training in Agile methodology.
                        </li>
                      </ul>
                    </div>
                  </div>
                </section>
              </li>
              <li>
                <section id="fedex" class="">
                  <h4 class="company collapsible-header">FedEx<span class="hide-on-small-only">; Collierville, TN</span></h4>
                  <div class="collapsible-body">
                    <div>
                      <div class="row">
                        <div class="col s12 hide-on-med-and-up">Collierville, TN</div>
                        <div class="col m6 s12">6/2014&ndash;4/2015</div>
                        <div class="col m6 s12 job-role">Applications Developer</div>
                      </div>
                      <ul class="browser-default">
                        <li>
                          Ported FedEx Express’s Workbench desktop application to the web.
                        </li>
                        <li>Implemented MVC client-side architecture via the Struts 2
                          framework, OGNL, Java, and JSP
                        </li>
                        <li>
                          Integrated the front end with back-end web services.
                        </li>
                        <li>
                          Used XML to map JSP views to controller classes.
                        </li>
                      </ul>
                    </div>
                  </div>
                </section>
              </li>
            </ul>
          </div>
        </section>
        <section id="bip" class="card hoverable scrollspy">
          <div class="card-content">
            <h3 class="company card-title">Bright Ideas Press<span class="hide-on-small-only">; Beachwood, OH</span></h3>
            <div class="row">
              <div class="col s12 hide-on-med-and-up">Streetsboro, OH</div>
              <div class="col m6 s12">5/2011&ndash;10/2013</div>
              <div class="col m6 s12 job-role">Proofreader</div>
            </div>
            <ul class="responsibilities browser-default">
              <li>
                Performed copy editing for internal and customer-facing documents.
              </li>
              <li>
                Led the initiative to create the company’s house style guide for
                grammar and usage conventions.
              </li>
              <li>
                Taught myself MS Access in order to develop a data structure
                prototype for the company’s digital quizzes.
              </li>
              <li>
                Learned JavaScript, jQuery, HTML5, and CSS via codeschool.com in
                order to develop new features for the company’s digital quizzes.
              </li>
            </ul>
          </div>
        </section>
        <section id="sns" class="card hoverable scrollspy">
          <div class="card-content">
            <h3 class="company card-title">Steak N Shake<span class="hide-on-small-only">; Streetsboro, OH</span></h3>
            <div class="row">
              <div class="col s12 hide-on-med-and-up">Streetsboro, OH</div>
              <div class="col m6 s12">2008 &amp; 2010&ndash;2011</div>
              <div class="col m6 s12 job-role">Server</div>
            </div>
            <ul class="responsibilities browser-default">
              <li>
                Responsible for all front-of-house duties.
              </li>
              <li>
                Helped with drive-thru when necessary.
              </li>
              <li>
                Jumped on the line to cook when necessary.
              </li>
            </ul>
          </div>
        </section>
        <section id="pcoc" class="card hoverable scrollspy">
          <div class="card-content">
            <h3 class="company card-title">Pasadena Civic Auditorium<span class="hide-on-small-only">; Pasadena, CA</span></h3>
            <div class="row">
              <div class="col s12 hide-on-med-and-up">Pasadena, CA</div>
              <div class="col m6 s12">2009&ndash;2010</div>
              <div class="col m6 s12 job-role">Box Office Clerk</div>
            </div>	<ul class="responsibilities browser-default">
              <li>
                Processed subscriptions via TicketMaster.
              </li>
              <li>
                Sold individual tickets in person and over the phone.
              </li>
              <li>
                Handled cash and credit transactions.
              </li>
              <li>
                Met the Green Power Ranger while working a Power Rangers
                convention.
              </li>
            </ul>
          </div>
        </section>
      </section>
      <section id="education" class="scrollspy">
        <h2>Education</h2>
        <section id="ksu" class="card hoverable">
          <div class="card-content">
            <h3 class="company card-title">Kent State University<span class="hide-on-small-only">; Kent, OH</span></h3>
            <ul>
              <li class="hide-on-med-and-up">Kent, OH</li>
              <li>2002&ndash;2006</li>
              <li>Psychology</li>
            </ul>
          </div>
        </section>
        <section id="fasttrackd" class="card hoverable">
          <div class="card-content">
            <h3 class="company card-title">FastTrackD<span class="hide-on-small-only">; Columbus, OH</span></h3>
            <ul>
              <li class="hide-on-med-and-up">Columbus, OH</li>
              <li>2010&ndash;2011</li>
              <li>Java, Spring, Struts</li>
            </ul>
          </div>
        </section>
      </section>
    </div>
    <div class="col m3 hide-on-small-only">
      <ul class="section table-of-contents fixed">
        <li>
          <a href="#summary">Summary</a>
        </li>
        <li>
          <a href="#experience">Experience</a>
        </li>
        <li class="second-level">
          <a href="#code-crew">CodeCrew</a>
        </li>
        <li class="second-level">
          <a href="#lokion">Lokion</a>
        </li>
        <li class="second-level">
          <a href="#cooksys">Cook Systems</a>
        </li>
        <!-- <li>
          <a href="#servicemaster">ServiceMaster</a>
        </li>
        <li>
          <a href="#fedex">FedEx</a>
        </li> -->
        <li class="second-level">
          <a href="#bip">Bright Ideas Press</a>
        </li>
        <li class="second-level">
          <a href="#sns">Steak N Shake</a>
        </li>
        <li class="second-level">
          <a href="#pcoc">Pasadena Civic Auditorium</a>
        </li>
        <li>
          <a href="#education">Education</a>
        </li>
        <!--<li>
          <a href="#ksu">Kent State University</a>
        </li>
        <li>
          <a href="#fasttrackd">FastTrackD</a>
        </li> -->
      </ul>
    </div>
  </section>
</div>
